.root{
    display: flex;
    height: 100vh;
}
.logo{
    flex:2;
    background-image: url(../../image/login_bg.jpg);
}
.login{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 60px;
    padding-right: 60px;
}
.password{
    margin-top:30px;
}
.login_btn{
    margin-top:100px;
}